<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.DataDAO">


	<resultMap id="pageMap" type="com.mongodb.BasicDBObject">
		<result property="id" column="CALELDAR_ID" />
		<result property="user_id" column=" USER_ID" />
		<result property="title" column="TITLE" javaType="java.lang.String"/>		
		<result property="allday" column="ALLDAY" javaType="java.lang.String"/>	
		<result property="start" column="START_DATE" />
		<result property="end" column="END_DATE" />
		<result property="memo" column="MEMO" jdbcType="CLOB" javaType="java.lang.String"/>		

	</resultMap>
	
	<select id="selectScheduleData"  parameterType="map" resultMap="pageMap">
		SELECT CALELDAR_ID, TITLE,ALLDAY, TO_CHAR(START_DATE, 'YYYY-MM-DD HH24:MI') AS START_DATE, TO_CHAR(END_DATE, 'YYYY-MM-DD HH24:MI') AS END_DATE, MEMO FROM SCHEDULEINFO
	</select>

	<insert id="inputScheduleData" parameterType="map">	
		INSERT INTO SCHEDULEINFO(CALELDAR_ID ,TITLE, ALLDAY, START_DATE, END_DATE, MEMO)
		VALUES(calId_sequence.NEXTVAL, #{title}, #{allday}, TO_DATE(#{start},'YYYY-MM-DD HH24:MI'), TO_DATE(#{end},'YYYY-MM-DD HH24:MI'),  #{memo})	
	</insert>
	
	<update id="updateScheduleData" parameterType="map">
		UPDATE SCHEDULEINFO
		 SET
		 	TITLE = #{title}, ALLDAY = #{allday}, 
			START_DATE = TO_DATE(#{start},'YYYY-MM-DD HH24:MI') , END_DATE = TO_DATE(#{end},'YYYY-MM-DD HH24:MI'),
			MEMO = #{memo}
			WHERE CALELDAR_ID = #{id}
	</update>
	
	<delete id="deleteScheduleData" parameterType="map">
		DELETE FROM SCHEDULEINFO
		WHERE CALELDAR_ID = #{id}

	</delete>
</mapper>